p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}
body {
  background-color: #8890ce;
}
.navigate {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #b7bde9;
  border-bottom: 1px solid #070f4b;
}
.navLink {
  margin-left: 15px;
  text-decoration: none;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 26 / 21;
}

.navLink:last-child {
  margin-left: 10px;
}

.title {
  margin-left: 15px;
  padding-top: 10px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 25px;
}

.form {
  display: flex;
  padding: 10px;
}
.input {
  outline: none;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  padding-left: 20px;
  border: none;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24 / 16;
}

.btn {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 90px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24 / 16;
}
.movieList {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.movieItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(100% / 4 - 30px);
  margin: 15px;
  background-color: blanchedalmond;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.movieItem:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

.movieLink {
  text-decoration: none;
  color: blueviolet;
  text-align: center;
  padding-bottom: 10px;
}

.movieDetailsImage {
  width: 200px;
}

.movieCastImage {
  width: 100%;
}

.movieImage {
  width: 500px;
  padding-bottom: 10px;
}
.moviesDetails {
  display: flex;
  background-color: #e2e3ee;
}
.moviesDetailList {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
.moviesDetailsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(100% / 6 - 20px);
  margin: 10px;
  background-color: blanchedalmond;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.movieDetailsTextTitle {
  margin-top: 5px;
  margin-left: 15px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34 / 26;
}
.movieDetailsText {
  margin-top: 5px;
  margin-left: 15px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26 / 18;
}

.movieDetailsTextName {
  margin-top: 5px;
  margin-left: 15px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26 / 18;
}

.movieDetailsTextCharacter {
  margin-top: 5px;
  margin-left: 15px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26 / 18;
}

span {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30 / 22;
}

.moviesReviewsItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 15px;
}

.movieDetailsWrapper {
  display: flex;
}

.movieDetailsImage {
  width: 350px;
}

.detailsItem {
  display: flex;
  padding-left: 15px;
  padding-top: 15px;
}

.itemWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
}

.movieTextWrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorWrapper {
  display: flex;
  flex-direction: column;
}

.image_404 {
  width: 900px;
}

.errorTitle {
  margin-top: 15px;
  margin-left: 15px;
}
